.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.games-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px 60px;
}

.cart-container{
    background-color: rgb(150, 228, 228);
    width: 300px;
    height: 360px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    position:sticky;
    top:0;
}

@media screen and (max-width:1100px) {
    .games-container{
        grid-template-columns: repeat(1,1fr);
    }
}