.question-1{
    border: 2px solid lightblue;
    border-width: 10px;
    border-radius: 10px;
    padding: 2px;
    font-size: 17px;
}

.question-2{
    margin-top: 20px;
    border: 2px solid lightblue;
    border-width: 10px;
    border-radius: 10px;
    padding: 2px;
    font-size: 17px;
}