.game{
    height: 470px;
    width: 260px;
    box-shadow: 5px 5px lightblue;
    border-radius: 10px;
    margin-left: 45px;
    margin-bottom: 50px;
    position: relative;
}

.game img{
    height: 300px;
    width: 260px;
    border-radius: 10px;
}

.game-name{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.game-price{
    font-family:'Courier New', Courier, monospace
}

.game-info{
    margin: 0 30px;
}

.btn-cart{
    width: 100%;
    background-color:  rgb(159, 159, 216);
    border:none;
    border-radius: 0px 0px 5px 5px;
    position:absolute;
    padding: 10px;
    bottom: 0px;
}

.btn-cart:hover{
background-color: rgb(154, 154, 224);
}